.button-scale {
  background-color: aquamarine;
  border-radius: 8px;
  transition: all 100ms;
}

.button-scale:hover {
  scale: 1.05;
}

.button-scale:active {
  scale: 0.95;
}

/* Animations */

.animate-red-to-green {
  animation-name: red-to-green;
  animation-duration: 1s;
}

@keyframes red-to-green {
  from {
    color: red;
  }

  to {
    color: green;
  }
}

.animated-ball {
  background-color: gray;
  height: 200px;
  width: 200px;
}

.animated-ball > div {
  background-color: blue;
  height: 50px;
  width: 50px;
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto;

  animation-name: bouncing-ball;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bouncing-ball {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(150px);
    height: 50px;
    width: 50px;
  }

  50% {
    transform: translateY(160px);
    height: 40px;
    width: 60px;
  }

  60% {
    transform: translateY(150px);
    height: 50px;
    width: 50px;
  }

  100% {
    transform: translateY(0px);
  }
}

/* Slidin Animation */
.slidin-left {
  animation-name: slidin-left;
  animation-duration: 1s;
}

@keyframes slidin-left {
  from {
    transform: translateX(-100%);
  }
}

.overflow-hidden {
  overflow: hidden;
}
